/target/
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/safewalk-fast-auth-tests.iml
.idea/workspace.xml
.project
*.apk
*.ipa
*.properties
*.DS_Store
src/main/resources/application/.com.altipeak.auth.safeaccess.apk.icloud
src/main/resources/application/.com.altipeak.auth.safewalkfido.apk.icloud
src/main/resources/application/.juralogin.apk.icloud
chromedriver